
@{
    ViewData["Title"] = "index";
}

<h2>index</h2>

<div class="wrapper">
    <div class="one">OneOneOne OneOneOne OneOne OneOneOn eOneOneOneOn eOneOneOn eOneOneOneOneOneOn eOneOneOneOneOneOneOneOn eOneOneOneOneOne OneOneOneOneOne</div>
    <div class="two">Two</div>
    <div class="three">Three</div>
    <div class="four">

        <figure>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100" width="38" height="38" aria-hidden="true">
                <use x="0" y="0" width="100" height="100" xlink:href="#s02d" xmlns="" style=""></use>
                <image alt="Lettskyet.  " src="/grafikk/sym/v2017/png/38/02d.png" width="38" height="38" xmlns=""></image>
            </svg>
            <figcaption class="yr-visually-hidden">Fair.</figcaption>
        </figure>

    </div>
    <div class="five">


            <image alt="Regn.  " src="https://www.yr.no/grafikk/sym/v2017/png/38/09.png" width="38" height="38" xmlns=""></image>


    </div>
    <div class="six">

        <svg id="cloud" filter="url(#dropshadow)" width="100" height="100">
            <path d="M55.7,5A23.94,23.94,0,0,0,34.37,18.05a9.9,9.9,0,0,0-12.78,5.56,15,15,0,0,0-1.71-.1A14.81,14.81,0,0,0,9.2,28,14.63,14.63,0,0,0,5,38.17v.21A14.83,14.83,0,0,0,19.88,53.06H75.59a14.3,14.3,0,0,0,3.67-28.14A23.93,23.93,0,0,0,55.7,5Z"></path>
            <image x="5" y="14" width="85" height="43" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFYAAAAkCAMAAAAkYj0PAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAVUExURSgoKExpcaCgoFBQUG5ublBQUISEhI1fsT0AAAAHdFJOUxsACBsPFRpGXuFgAAABWElEQVRIx7XV25bDIAgF0BMu/v8nF/E+iWlqHNKVN3cpIMXxL4GFM3SQfTazkUyxk63oLYwlVSy2silXkS/wUrZS2a3ZCn1zsdSw7UUYijuHsTa1IvfwWrbSXLkc4N9r27JViwmM1UtWXA3hohQ41m6vl8FQZi7wu2z7KXPW4uRiZS+2AmdXN7DdQEQWQHYHlt6z0dXBBa2xeeVktiZc1jDoF5eGkI4d4MjKc7cNbZ3bqjocLLx5oPDYTaIftcfvAvcs2GFxVsJTOP1wO1jGdUSLaz/DWA1Tl45+Tkqul2ArcPzayGq8JafOUffP3TUp6JQs+Rptc6vtmtBkUw+dv0NzWG0PYf8O7Ym09+ITXyXOPZqEX95aFe3PKxRsL2XV3HR+ZALirPSF0ceHp6F51WBv1A22VaW2GHWzWvat8LOAPf4CrjrA+neNK7+PQBf/DmmLrId09/QDWyESBsibwBUAAAAASUVORK5CYII="></image>
        </svg>


    </div>
</div>

<div class="svg-wrapper">
        
    <svg width="282px" height="82px" viewBox="0 0 282 82" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Group">
                <circle id="red" fill="#EE4747" cx="41" cy="41" r="41"></circle>
                <circle id="yellow" fill="#FFC848" cx="141" cy="41" r="41"></circle>
                <circle id="green" fill="#1EC4B4" cx="241" cy="41" r="41"></circle>
            </g>
        </g>
    </svg>
</div>


<style>

    .wrapper {
        display: grid;
        grid-template-columns: 20vw 30vw 30vw;
        grid-gap: 10px;
        grid-auto-rows: minmax(auto, auto);
    }
    .wrapper div{
        box-shadow:  0px 0px 10px #a0a5;
        border: solid 1px;

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible;
        word-wrap: break-word;
    }
    .one {
        grid-column: auto;
        grid-auto-row: auto;
        background-color: aliceblue;
    }

    .two {
        grid-column: auto;
        grid-row: ;
        background-color: antiquewhite;
    }

    .three {
        grid-column: 1;
        grid-row: 2 / 5;
        background-color: aqua;
    }

    .four {
        grid-column: 3 / 2;
        grid-row: 3;
    }

    .five {
        grid-column: 2;
        grid-row: 4;
        background-color: azure;
    }

    .six {
        grid-column: 3;
        grid-row: 4;
        background-color: beige;
    }

</style>

